<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>
        <a href="/">
            <img src="logo.png" alt="Convert">
        </a>
    </h1>