<%-include('header') %>
    <form method="GET" action="/cotacao">
        <input name="cotacao" placeholder="Cotação" value="<%= cotacao %>">
        <input name="quantidade" placeholder="Qtde dolares">
        <button>Converter</button>
    </form>
    <%-include('footer') %>